@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.4em;
    
}
body {
    background-color:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 80%;
    max-width: 1000px;
    min-height: 100px;
    background-color: lightblue;
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.left {
    color: rgb(227, 228, 228);
    position: initial;
    background-color:#003147;
    padding: 20px;
}
.left .imagenPerfil
{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden; 
}
.left .imagenPerfil img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left hr
{
    margin-top: 380px;
}
.infoContacto   ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.infoContacto ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.infoContacto ul li span
{
    color: rgb(235, 236, 237);
    font-weight: 300;
}
.Conocimientos ul li
{
    font-weight: bolder;
    color: rgb(182, 237, 252);
     font-size: 20px ;
}
.Conocimientos ul li b
{
    font-weight: lighter;
    font-optical-sizing: auto ;
}


.right {
    position: initial;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.right .Summary  b
{
    color:#620192
}
.right .ExperienciaLaboral b
{
    color:#620192
}
.right .Educacion b
{
    color:#620192
}
.right .Educacion td i
{
   color:rgb(31, 222, 44) 
}

.right .name
{
    color: rgb(64, 64, 64);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
}
.right  .title
{
    font-size: 25px;
    font-size: 1.5em;

    font-weight:300;
}
.imagenPerfil, .infoContacto, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(4, 96, 150);
}
